albumentations
hydra-core==1.1.2
ivtmetrics==0.0.7
matplotlib==3.5.1
neptune-client==0.14.2
neptune-notebooks==0.9.0
numpy
omegaconf==2.1.2
opencv-python==4.6.0.66
pandas
scikit-learn
scipy==1.7.1
seaborn==0.11.2
timm
torch
torchvision
torchmetrics
